.custom_buttom {
    display: flex;
    width: 236px;
    height: 67px;
    padding: 30px 29.8px 30px 29px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #F6784C;
    border: none;
    color: white;
}

.custom_buttom1 {
    display: flex;
    width: 236px;
    height: 67px;
    padding: 30px 29.8px 30px 29px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #C4D600;
    ;
    border: none;
    color: white;
}

.custom_buttom2 {
    display: flex;
    width: 236px;
    height: 67px;
    padding: 30px 29.8px 30px 29px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #EAAA00;
    border: none;
    color: white;
}

.custom_buttom3 {
    display: flex;
    width: 236px;
    height: 67px;
    padding: 30px 29.8px 30px 29px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #ED8B00;
    border: none;
    color: white;
}

.custom_buttom4 {
    display: flex;
    width: 236px;
    height: 67px;
    padding: 30px 29.8px 30px 29px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #84BD00;
    border: none;
    color: white;
}