.Recipes_heading {
    color: #000;
    font-size: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin: 0 25px;
}

.for_loading {
    display: flex;
    width: 400px;
    padding: 13px 0px 12px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #509E2F;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}